{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock title %}

{% block content %}
<h2>Categorias de Motores</h2>

<section class="category_list">
    {% for category in category_list %}
    <article class="cetegory-card">
            <a href="{% url 'motors:category_detail' category.id %}">
            <h3>{{category.name}}</h3>
            </a>
    </article>
    {% endfor %}
</section>
<section class="category_list">
    <a href="{% url 'motors:create-category' %}"><button>Crie sua Categoria</button></a>
</section>
{% endblock content %}