{% extends 'base.html' %}

{% block content %}
<h2>Busca de Motors por Nome</h2>
<form action="{% url 'motors:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if motor_list %}
<section class="lista-de-cards">
    {% for motor in motor_list %}
    <article class="card">
        <img src="{{ motor.poster_url }}" alt="Foto do motor {{ motor.name}}">
        <p>{{ motor.name }} ({{ motor.launch_year }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum motor para a busca.</p>
{% endif %}

{% endblock content %}