{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h2>A Escola Politécnica da USP sempre se destacou pela sua excelência em Ensino, Pesquisa e Extensão, tendo diversos centros de pesquisa, equipes de competição e abrigando dois grupos PET (Programa de Educação Tutorial). Porém, muito pouco se fazia na área aeroespacial no campus da capital. Tendo isso em mente, o PET Mecânica, se propôs, em 2014, a desenvolver o primeiro foguete da Escola Politécnica, tendo como objetivo lançá-lo na 10th IREC.</h2> 

 

<h2>Nesta empreitada ambiciosa, trabalharam sete integrantes do PET-Mecânica, o tutor responsável pelo grupo e dois colaboradores da Escola. Para este projeto, tivemos o apoio financeiro do Fundo Patrimonial Amigos da Poli, o apoio do Ministério da Educação (MEC) através da verba destinada ao PET-Mecânica e o apoio da EPUSP no que tange a utilização de infraestrutura e recursos humanos. </h2>
    
     
    
<h2>Graças a todo este apoio e ao árduo trabalho do grupo, o objetivo foi alcançado e o nosso primeiro foguete, Jupiter I, cruzou os ares norte americanos no dia 27/06/2015, abrindo mais um capítulo na história politécnica, a era dos foguetes.</h2>
{% endblock content %}